*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.video-box{
    width: 100vw;
    height: 100vh;
}

.video-box > video{
    width: 100%;
    height: 100%;
}

/* .button-box{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 15rem;
    width: 5rem;
    right: 3vw;
    top:50%;
    transform: translateY(-50%);
    justify-content: space-between;
    border: 1px solid red;
}
.record-box{
    height: 35%;
    border: 1px solid cornflowerblue;
}

.record-btn{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid white;
    
}

.capture-box{
    height: 35%;
    border: 1px solid springgreen;
} */