*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.video-box{
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.video-box > video{
    width: 100%;
    height: 100%;
}

/* & *****************buttons***************************** */

.button-box{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 15rem;
    width: 5rem;
    right: 5vw;
    top:50%;
    transform: translateY(-50%);
    justify-content: space-between;
    /* border: 1px solid red; */
}
.record-box{
    height: 35%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px solid white;
}

.record-btn{
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: red;
    /* border: 5px solid white; */
}

.scale-record{
    animation-name: scale-record;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
}

@keyframes scale-record {
    0%{
        transform:scale(0.8);
    }
    100%{
        transform:scale(1);
    }
}

.capture-box{
    height: 35%;
    border-radius: 50%;
    border: 6px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.capture-btn{
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: white;
    /* border: 5px solid white; */
}

.scale-capture{
    animation-name: scale-record;
    animation-duration: 1.6s;
    animation-iteration-count: 1;
}

@keyframes scale-capture {
    0%{
        transform:scale(0.8);
    }
    100%{
        transform:scale(1);
    }
}